<div class="container">
    <h1 class="m-5 text-center">Rent your Surfoard</h1>

  <div class="search-bar-container">
    <%# ------- SEARCH CITY ------- %>
    <%= form_tag offers_path, method: :get do %>
    <div class="search-bar search-form-control form-group mt-2 mb-5">
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Where ?"
      %>
      <%= text_field_tag :km,
        params[:km],
        class: "form-control",
        placeholder: "100 Km"
      %>
      <%# ---------- SEARCH DATE --------- %>
      <%= date_field_tag :start_date,
        params[:start_date],
        class: "form-control"
      %>
      <%= date_field_tag :end_date,
        params[:end_date],
        class: "form-control"
      %>
      <%# ---------- SUBMIT --------- %>
      <button name="button" type="submit" class="btn-custom-blue-searchbar"> <%# class="btn btn-flat" %>
    <% end %>
    

  </div>
</div>

<div class="results">
  <% if @offers.length == 0 %>
    <p class="m-3">no results found</p>
  <% elsif @offers.length == 1 %>
    <p class="m-3"><%= @offers.length %> result found</p>
  <% else %>
    <p class="m-3"><%= @offers.length %> results found</p>
  <% end %>
</div>
<div class="search row">
  <div class="search_left col-8">
      <div class="cards pb-5">
        <% @offers.each do |offer| %>
          <%= link_to offer_path(offer),{remote: :true, 'data-toggle': 'modal', 'data-target': '#modal-window'} do %>
            <div class="card-trip card_custom">
              <% if offer.photos.attached? %>
                <%= cl_image_tag(offer.photos.first.key, height: 300, width: 400, crop: :fill) %>
              <% else %>
                  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
              <% end %>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= offer.title %></h2>
                    <p><strong><%= offer.state %></strong></p>
                    <p><%=icon('fas','map-marker-alt')%> <%=offer.location%></p>
                  </div>
                    <h2 class="card-trip-pricing"><%= offer.price_per_date %>€ / Jour</h2>
                    <%if offer.user.photo.attached?%>
                      <%= cl_image_tag(offer.user.photo.key, crop: :fill, :gravity => :face, class: "card-trip-user avatar-bordered")%>
                    <%else%>
                      <%= image_tag "https://cdn.pixabay.com/photo/2017/05/22/19/49/surfer-2335087_960_720.jpg", class: "avatar" %>
                    <%end%>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>

  <div class="search_right col">
      <div id="map"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
  </div>
</div>

  <div id="modal-window" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog " role="document">
      <div class="modal-content"></div>
    </div>
  </div>
</div>