<h1 class="m-5">Rent your Surfoard</h1>

<%= simple_form_for :search, url: root_path, method: :get do |f| %>
  <div class="search-form-control form-group m-5">
    <input class="form-control string required" type="text" name="search[query]" id="search_query" />
    <button name="button" type="submit" class="btn btn-flat">
      <i class="fas fa-search"></i> Search
    </button>
  </div>
<% end %>

<div class="cards m-5 pb-5">
  <% @offers.each do |offer| %>
    <%= link_to offer_path(offer) do %>
      <div class="card-trip">
        <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" /> %>
        <% if offer.photo %>
          <%= cl_image_tag(offer.photo.key, height: 300, width: 400, crop: :fill) %>
          <% else %>
            <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <% end %>
          <div class="card-trip-infos">
            <div>
              <h2><%= offer.title %></h2>
              <p><%= offer.description %></p>
              <p><%=icon('fas','map-marker-alt')%> Biarritz</p>
            </div>
              <h2 class="card-trip-pricing"><%= offer.price_per_date %>€ / Jour</h2>
                <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
      </div>
    <% end %>
  <% end %>
</div>
