<div class="container">
    <%= simple_form_for @offer do |f| %>
    <h1>Que propose-tu ?</h1>


    <p><%= f.label "titre :" %> <%= f.text_field :title %></p>
    <%= f.label "description :"%>
    <%# <textarea class="form-control" id="exampleTextareaBio" placeholder="Tell us your story" required></textarea> %>
    <p><%= f.input :description,:input_html => {:style => 'width: 25%', :rows => 3 } %></p>
    <%# <textarea class="form-control" id="exampleTextareaBio" rows="2" placeholder="Tell us your story" required></textarea> %>
    <p><%= f.label "prix :" %> <%= f.number_field :price_per_date %></p>
    <p><%= f.label "du :" %> <%= f.date_field :start_available_date %></p>
    <p><%= f.label "au :" %> <%= f.date_field :end_available_date %></p>
    <p><%= f.input :photos, as: :file, input_html: { multiple: true } %></p>
    <p><%= f.submit "Enregistrer", class: "btn btn-flat"%></p>
    <% end %>

    <%= link_to "Annuler", root_path, class: "btn btn-flat" %>
</div>
