<div class="container">
    <div class="card-offer-detail">
        <%= cl_image_tag(@offer.photo.key, height: 300, width: 400, crop: :fill) %>
        <div class="card-offer-detail-description">
          <div>
              <h2><%=@offer.title%></h2>
              <p><%=@offer.description%></p>
              <p><%=icon('fas','calendar-alt')%>Start date : <%=@offer.start_available_date%></p>
              <p><%=icon('fas','calendar-alt')%>End date : <%=@offer.end_available_date%></p>
              <p> <%=icon('fas','map-marker-alt')%> Biarritz</p>
          </div>
          <h2 class="card-offer-pricing"><%=@offer.price_per_date%>€ / Jour</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-user avatar-bordered" />
        </div>
    </div>
      <%= link_to "Book this board", new_offer_booking_path(@offer), class: "btn btn-primary btn-custom-blue mt-2"%>
      <%= link_to "Back to offer list", offers_path, class: "btn btn-primary btn-custom-blue mt-2"%>
        <% if @offer.user == current_user %>
          <%= link_to "Edit this offer", edit_offer_path(@offer), class: "btn btn-primary btn-custom-blue mt-2"%>
          <%= link_to "Delete this offer", offer_path(@offer), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-primary btn-custom-blue mt-2" %>
        <% end %>
  </div>
